<!-- Footer Area Start -->
<div class="footer-area">
  <div class="container">
    <div class="row">

      <!-- Copyright -->
      <div class="copyright text-left col-sm-6 col-xs-12">
        <p>Copyright &copy; Joseph Murphy 2016.All right reserved.</p>
      </div>

      <!-- Author Credit -->
      <div class="author-credit text-right col-sm-6 col-xs-12">
        <p></p>
      </div>

    </div>
  </div>
</div>
<!-- Footer Area End -->